@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

@font-face {
  font-family: "Futura LT Pro Book";
  src: url(./assets/Fonts/FuturaLTProBold.otf);
}

@font-face {
  font-family: "Apercu";
  src: url(./assets/Fonts/ApercuRegular.otf);
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/Fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Bebas Neue";
  src: url(./assets/Fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Padauk";
  src: url(./assets/Fonts/Padauk-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/Fonts/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #000;
  color: #fff;
}
::-webkit-scrollbar {
  display: none;
}
.Apercu {
  font-family: "Apercu", sans-serif;
}

.futuraLt {
  font-family: "Futura LT Pro Book", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.padauk {
  font-family: "Padauk", sans-serif;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
}
.staatliches {
  font-family: "Staatliches", sans-serif;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
.container {
  position: relative;
}
.hnav-100 {
  height: calc(100vh - 100px);
}
.td-none {
  text-decoration: none;
  cursor: pointer;
}

/* Custom animations */
@keyframes loading {
  0% {
    background-position-x: 0;
  }
  40%,
  100% {
    background-position-x: -200%;
  }
}

.loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.MuiTypography-body1 {
   color: #fff;
 }